
.vs/X/v15/Solution.VC.db
.vs/X/v15/ipch/AutoPCH/bd4ba1f3c6e541ef/PATHFINDING.ipch
.vs/X/v15/ipch/AutoPCH/92792cfcc1b04fb7/TILEMAP.ipch
.vs/X/v15/ipch/AutoPCH/78416fa1f781ac4c/WINMAIN.ipch
.vs/X/v15/Browse.VC.db
.vs/X/v15/.suo
